* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  background-color: grey;
}
header li {
  list-style: none;
  padding: 0 20px;
  display: inline-block;
  font-size: 1.5rem;
}
#nav-title {
  margin-right: auto;
  font-size: 2rem;
}
header a {
  text-decoration: none;
  color: darkgreen;
  transition: all 0.5s ease 0.2s;
}
header a:hover {
  color: black;
}
main {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  background-image: url(snkrimg.jpg);
  
}
main li {
  list-style: none;
  padding: 0 20px;
  display: inline-block;
}
main a {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease 0.2s;
  font-size: 3rem;
}
main a:hover {
  color: darkgreen;
}
